[submodule "demo3"]
	path = demo3
	url = https://github.com/GitUser0422/demo3.git
[submodule "Sub_modules"]
	path = Sub_modules
	url = https://github.com/GitUser0422/demo3.git
[submodule "Git/Sub_modules/demo3"]
	path = Git/Sub_modules/demo3
	url = https://github.com/GitUser0422/demo3.git
[submodule "Git/Sub_modules/demo5"]
	path = Git/Sub_modules/demo5
	url = https://github.com/GitUser0422/demo5.git
[submodule "Git/Sub_modules/Sub_modules"]
	path = Git/Sub_modules/Sub_modules
	url = https://github.com/GitUser0422/demo5.git
[submodule "Git/demo"]
	path = Git/demo
	url = https://github.com/GitUser0422/demo.git
[submodule "Git/first_demo"]
	path = Git/first_demo
	url = https://github.com/GitUser0422/first_demo.git
[submodule "Git/submodule/first_demo"]
	path = Git/submodule/first_demo
	url = https://github.com/GitUser0422/first_demo.git
[submodule "Git/submodule/submodules"]
	path = Git/submodule/submodules
	url = https://github.com/GitUser0422/first_demo.git
